html {
  font-size: 20px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  /* background-color: #5d5c5c; */
}

.toolbar {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 4rem;
}

.btn {
  background-color: #282c34;
  color: white;
  font-size: 2rem;
  margin: 1rem;
  border: 1px solid #ffffff;
  border-radius: 0.8rem;
  padding: 0.2rem 0.7rem;
  font-weight: 700;
}

.btn_active {
  color: white;
  margin: 1rem;
  border: 3px solid white;
  outline-offset: 2px;
  border-radius: 0.8rem;
  padding: 0.2rem 0.7rem;
  background-color: #23272f;
  box-shadow: 0px 0px 7px black;
  font-size: 2rem;
  font-weight: 700;
}

.container {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.inner {
  width: 70vw;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  align-items: center;
  justify-items: center;
}

/* 
.element {
} */

img {
  margin-right: 10px;
}

/*//////////////////////////////*/

.container1 {
  width: 100%;
  text-align: center;
}

.innercontainer1 {
  width: 100%;
  text-align: center;
}

/*//////////////////////////////////////////////////*/

.film_container {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.film_card {
  width: 400px;
  min-height: 100px;
  border: 2px solid black;
  box-shadow: 0px 0px 5px black;
  border-radius: 10px;
  margin: 15px;
}

.card-body-stars {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding-inline-start: 0;
}

$color1: red;

.Counter11 {
  color: $color1;
}

////////////////////

.container21 {
  width: 100vw;
  height: 100vh;
  background-color: #23272f;
  display: grid;
  align-content: center;
  justify-content: space-around;
}
.box11 {
  width: 300px;
  height: 30px;

  margin: 10px;
  border: 0px solid rgb(65, 61, 61);
  border-radius: 10px;

  background-color: rgb(98, 97, 97);
  font-size: 20px;
  text-align: center;
  align-items: center;
}

///////////////////////////////////////

.container22 {
  width: 100vw;
  height: 100vh;
  background-color: #23272f;
  display: grid;
  align-content: center;
  justify-content: space-around;
}

.biginput {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.box22 {
  width: 800px;
}

.input_label {
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: wheat;
  width: 800px;
  height: 100px;
  font-size: 25px;
  text-align: center;
  align-items: center;
  border-radius: 20px;

  border: 1px solid white;
}

.img_box {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  border: 1px solid white;
  border-radius: 10px;
  display: inline;
  margin: 20px;
}

///////////////////////////////////////////////////////

.divTodo {
  width: 100vw;
  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  column-gap: 10px;

  .inputTodo {
    margin-top: 100px;
    padding: 10px;
    width: 500px;
    border-radius: 20px;
    border: 2px solid black;
    font-size: 40px;
  }

  div.Todo {
    width: 500px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    button {
      width: 60px;
      height: 30px;
    }
  }
  div.divButton {
    align-items: center;
    display: flex;
    justify-content: end;
  }
}
